@import '~horizon4-shared/styles/generic_styles';

.trailer-action-field {
    transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    font-size: 20px;
    font-weight: 300;
    opacity: 1;
    text-align: center;
    box-sizing: border-box;
    background-color: $letigre;
    border: 2px solid $elephant;
    padding: 20px 30px;
    margin: 40px 70px 0 0;
    border-radius: 16px;
    float: right;
    color: #ffffff;

    .action-button {
        background: $bluesteel;
        color: $polarbear;
        border-radius: 6px;
        margin-top: 10px;
        padding: 5px 0;
        min-width: 150px;
    }
}
